html {
    height: 100%;
    margin: 0;
  }
  
  body {
    height: 100%;
    background-color: lightgreen;
    margin: 0;
  }

.header {
    overflow: hidden; /* headline over bakgrunn */
    background-color: black; /* farge headline */
    font-family: Arial; /* hvilken font-type bruker vi? */
  }

  .header a { /* Sign out knapp */
    float: left; /* tilpasser tekst til header */
    font-size: 15px;
    color: magenta;
    /* text-align: left; ikke nødvendig, venstre som standard? */
    padding: 15px;
  }
  

 .dropdown {
    position: absolute; /* for å få meny over header riktig og nedover */
    top: 13px; /* ned fra toppen */
    display: inline-block; /* for at dropdown ikke skal legge seg til venstre */
  }

  .dropdown-content a { /* farge og størrelse på teksten til sidenavnene under dropdown */
    color: red;
    padding: 25px;
  }

  
 /* "Hovering and touch screens. Many designers believe that when their menus open on hover, 
  they're faster and easier to use. Menus that open on hover save users a click, 
  but that click is necessary in letting the website know that the user wants to open a menu" */

  
  .dropdown-content a:hover { /* On click lages med function i js */
      background-color: white
    }

  .dropdown:hover .dropdown-content {
        display: block;
      } /* kjører dropdown-menyen over bakgrunn */

  .dropdown-content {
    display: none; /* display none for å skjule det som er under dropdown-meny*/
    position: absolute; /* får dropdown-meny nedover i motsetning til relative */
    min-width: 160px; /* plass rundt side-navnene i dropdown meny */
    /* z-index: 1; = ingen funksjon her */
  }
  
  .dropdown:hover .dropbtn { /* farge på dropdown-knapp ved hover */
    background-color: red; } 


  /* NYTT FRA 02.06 UNDER HER______________________________________________________*/

    .testing {
      position: absolute; /* Får det kun til høyre med absolute? */
      right: 20px;
      top: 13px; 
      display: inline-block; 
    }
  
    .testing-content {
      display: none;
      overflow: auto;
       }

   .testbtn {
      background-color: green;
      color: white;
      padding: 16px;
      font-size: 16px;
     } 

    